.flip-card {
   box-sizing: border-box;
   background-color: transparent;
   width: 170px;
   height: 200px;
   perspective: 1000px;
   cursor: pointer;
   user-select: none;

   /* Remove this if you don't want the 3D effect */
}

.active {
   transform: rotateY(180deg);
}
/* This container is needed to position the front and back side */
.flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   transition: transform 0.4s;
   transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
   background-color: rgb(255, 255, 255);
   color: black;
   display: flex;
   justify-content: center;
   box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
   align-items: center;
}

.flip-card-front img {
   display: block;
   width: 80px;
   height: 80px;
   transform: rotateY(180deg);
}

/* Style the back side */
.flip-card-back {
   transform: rotateY(180deg);
   background: radial-gradient(circle at 50% 0%, #cecece 36%, #fefefe 36.5%);
   background-position: center;
   background-size: 400px 250px;
}

.hp {
   width: 50px;
   background-color: #ffffff;
   text-align: center;
   padding: 2px 0;
   border-radius: 30px;
   margin: 5px;
   margin-left: auto;
   font-weight: 400;
   font-size: 0.7em;
}

.poke-img {
   display: block;
   max-height: 100px;

   margin: auto;
   margin-top: -30px;
   margin-bottom: -10px;
   z-index: 1;
}
.poke-name {
   text-align: center;
   font-weight: 600;
   font-size: 1.1em;
   text-transform: capitalize;
}
.types {
   display: flex;
   justify-content: space-around;
}
.types-span {
   padding: 2px 7px;
   border-radius: 30px;
   font-size: 0.6em;
   font-weight: 500;
   color: #ffffff;
}
.types-span p {
   font-size: 14px;
}
.stats {
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   padding: 5px 10px;
   font-size: 15px;
}
.stats p {
   line-height: 0;
   color: #404060;
   font-size: 0.7em;
}
