* {
  margin: 0;
  padding: 0;
}
body {
  background: #4e8f53;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  width: 900px;

  border-radius: 40px;
  padding: 10px 0;
}
